body{
	font-family:Arial, Helvetica, sans-serif;
/*	font-size:13px; */
	padding: 0px;
	margin: 0px;
	font-size:62.5%;
	background: #ffffff; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #eeeeee); /* for firefox 3.6+ */ 
	height:100%;	
}

.logo {
	background-position: left top;
	background-color: #FFFFFF;
}

div.header {
  	display: table;
	height:100px;
	width:100%;
	-moz-box-shadow: 0px 1px 10px 2px #444;
	-webkit-box-shadow: 0px 1px 10px 2px #444;
	box-shadow: 0px 1px 10px 2px #444;

/*	background-color: #ebebeb; */
/*
	background-image: -moz-linear-gradient(left , #FFFFFF 0%, #25769C 100%);
	background-image: linear-gradient(left , #FFFFFF 0%, #25769C 100%);
	
	background-image: -o-linear-gradient(left , #FFFFFF 0%, #25769C 100%);
	background-image: -ms-linear-gradient(left , #FFFFFF 0%, #25769C 100%);
	
	background-image: -webkit-linear-gradient(left , #FFFFFF 0%, #25769C 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.0, #FFFFFF), color-stop(1.00, #25769C));
*/
	background-image: -moz-linear-gradient(left , #FFFFFF 0%, #a9a9a9 100%);
	background-image: linear-gradient(left , #FFFFFF 0%, #a9a9a9 100%);
	
	background-image: -o-linear-gradient(left , #FFFFFF 0%, #a9a9a9 100%);
	background-image: -ms-linear-gradient(left , #FFFFFF 0%, #a9a9a9 100%);
	
	background-image: -webkit-linear-gradient(left , #FFFFFF 0%, #a9a9a9 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0.0, #FFFFFF), color-stop(1.00, #a9a9a9));

}

div.headercellleft {
	display: table-cell;
	vertical-align:middle;
	padding-left:20px;
	padding-right:20px;
	width:340px;
}

div.headercellright {
	display: table-cell;
	vertical-align:middle;
	padding-left:20px;
	padding-right:20px;
	width:220px;
}

div.headercellmiddle {
	text-align: center;
	vertical-align:middle;						
	width:100%;
}

div.headercellmiddle span.appHeader {
/*	color: #5c5e5e; */
/*	color: #116a9b; */
	color: #ffffff;
/*	color: #006699; */
	font-size:24pt;
	font-family: 'Arial';
	font-weight: bold; 
	display:inline-block;
	line-height: 100px;
	text-shadow: 1px 1px 2px #888;	
}

.warning, .error, .success {
	border: 1px solid;
	border-radius: 3px 3px 3px 3px;
	margin-left: 50px;
	margin-right: 50px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size:12px;
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/warning.png');
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/error.png');
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../images/success.png');
}

.menuBar {
/*    background-image: url("../images/Menu_sblue.png"); */
/*    background-repeat: repeat-x; */
    color: #FFFFFF;
    font-family: 'Verdana';
    font-size: 10pt;
    overflow: hidden;
    height: 40px;
    margin-top:10px;
}

.menuBar .selected {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	background-color: #335B99;
	color: #FFFFFF;
	overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
	vertical-align: center;
	line-height:30px;
}

.menuBar .notSelected {
	padding:0px 10px 0px;
	border-left: 1px solid #FFFFFF;
	/* border-right: 1px solid #FFFFFF; */
	color: #FFFFFF;
	text-align: center;
	height: 30px;
}

#menu {
	 -moz-box-shadow: 3px 3px 5px #888;
	 -webkit-box-shadow: 3px 3px 5px #888;
	 box-shadow: 3px 3px 5px #888
}

.sectionHeader {
    /* background-color: #85b5d9; */
    /* background-color: #6396bc; */
    background-color: #46a3ca;
    color: #ffffff;
    /* color: #2e6e9e; */
    /* color: #e27817; */
    font-family: 'Verdana';
    font-size: 11px;
    font-weight: bold;
    padding: 3px 0 3px 4px;
    text-align: left;	
	 border-top-right-radius:5px;
	 border-top-left-radius:5px;
	 -webkit-border-top-right-radius: 5px;
	 -webkit-border-top-left-radius: 5px;
	 -moz-border-radius-topright: 5px;
	 -moz-border-radius-topright: 5px; 
}

.sectionBody {
	margin-left:50px;
/*	margin-top: 10px; */
	margin-bottom: 10px;
	margin-right: 50px;
/*	padding: 10px; */
	border: 1px solid #d8d8d8;  
	border-radius:5px;
}

.withShadow {
/*	border-style:outset; */
	border-color:grey;
/*	border-width:0px;  */
	border-left: 1px solid #d8d8d8;
	border-right-width:0px;
	border-top-width:0px;
	border-bottom-width:0px;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
	box-shadow: 3px 3px 5px #888;
	padding-bottom:5px;
}

.sectionHeaderShadow {
	height:20px;
	-moz-box-shadow: 0px 3px 5px #888;
	-webkit-box-shadow: 0px 3px 5px #888;
	box-shadow: 3px 3px 5px #888;
	padding-bottom:5px;
    font-size: 12px;
	text-shadow: 1px 1px 2px #888;
	line-height:20px;
}

.sectionBody table {
	padding: 10px;
	margin-bottom: 5px; 
/*	background-color: #ffffff; */
	width: 100%
}


.sectionBody .colHeader {
	background-color: #aaaaaa;
}

.sectionBody th {
	background-color: #46a3ca;
	color: #ffffff;
	font-family: 'Verdana';
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	/* background-color: #788597; */
}

.sectionBody .evenDataRow {
	background-color: #e9f2fe;
}

.sectionBody .oddDataRow {
	background-color: #ffffff;
}

/*
.sectionBody tr:hover
 {
	background-color: #cccccc;	
	cursor:hand;
}
*/

.sectionBody td {
    color: #1E1E1E;
    font-family: 'Verdana';
    font-size: 10pt;
    text-align: left;
/* border: 1px solid #DDDDDD; */        		
}

textarea {
	width: 90%; 
	height: 120px;
	border: 3px solid #cccccc;
	padding: 10px;
	font-family: 'Verdana';
	margin: 10px;
}

.buttons {
	position: relative;
	margin-bottom: 5px;
	margin-right: 10px;
}

.delete {
    background-image: url("../images/error_16.png");
    background-repeat: no-repeat;
    background-position: 3px center;
    cursor:pointer;cursor:hand; 
    width:20px;
}

#resourceConfigTable td {
	color: #1E1E1E;
	font-family: 'Verdana';
	font-size: 10pt;	
}

#credentialConfigTable td {
	color: #1E1E1E;
	font-family: 'Verdana';
	font-size: 10pt;	
}

#newResource .sectionBody {
	margin-left:10px;
	margin-right:0px;
}

#editResource #resourceConfigTable .sectionBody {
	margin-left:10px;
	margin-right:0px;
}

#editResource .sectionBody .sectionBody {
	margin-left:20px;
	margin-right:20px;
}

#editResource textArea {
	height:500px;
	width:90%;	
}

#editCredentialDlg .sectionBody {
	margin-left:10px;
	margin-right:0px;
}

.sectionBody select, .sectionBody input {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1em;
}


.settingsText {
	color: #1E1E1E;
	font-family: 'Verdana';
	font-size: 10pt;	
	margin-left: 50px;
}

.copyright {
	color: #AAAAAA;
    font-size: 12px;
    text-align: left;	
    padding-left: 15px;
}

.waiting {
	background-image:url('../images/loading.gif');
	background-repeat:no-repeat;
	background-position: 10px center;
	display:none;
   	background-color: #EEEEEE !important;
    border: 1px solid #CCCCCC !important;
    border-radius: 3px 3px 3px 3px;
    line-height: 1.6 !important;
	padding:15px 10px 15px 50px;   
    margin-left:50px;
    margin-right:50px;      		
}

.waitingMessage {
	font-weight: bold;
    font-size: 12px !important;        		
	color: #06263C !important;
}

#newResource {
/*	background-color:#e9f2fe; */
}

#editCredentialDlg {
/*	background-color:#e9f2fe; */
}

.navBar {
	background-color:#0078ae;
	width:120px;
	height:505px;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
	box-shadow: 3px 3px 5px #888;
	background: #0078ae; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e90bd', endColorstr='#3895b5'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2e90bd), to(#3895b5)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2e90bd,  #3895b5); /* for firefox 3.6+ */ 
}

.stepLink {
	margin-top:20px;
	margin-bottom: 5px;
	color:#f5e1af;
	text-decoration:underline;
	cursor:pointer;cursor:hand;
}

.stepLinkSelected {
	margin-top:20px;
	margin-bottom:5px;
	color:#f5e1af;
	text-decoration:none;
	cursor:default;
}

.stepName {
	background-color:#0078ae;
	background: #0078ae; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e90bd', endColorstr='#3895b5'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2e90bd), to(#3895b5)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2e90bd,  #3895b5); /* for firefox 3.6+ */ 
	color: #ffffff;
	border-top: 1px solid #77d5f7;
	border-bottom: 1px solid #77d5f7;
	padding:5px;
	font-size:1.1em;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

.stepNameSelected {
	background-color:#6eac2c;
	background: #6eac2c; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92c060', endColorstr='#7db441'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#92c060), to(#7db441)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #92c060,  #7db441); /* for firefox 3.6+ */ 
	color: #ffffff;
	border-top: 1px solid #acdd4a;
	border-bottom: 1px solid #acdd4a;
	padding:5px;
	font-size:1.1em;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

.saveNotif {
	text-align:center;
	z-index:100;
}

.saveNotifBox {
	/* float:center; */
	display:inline-block;
	background-color:#f9edbe;
	border: solid 1px #f0c36d;
	-moz-box-shadow: 5px 5px 4px #888;
	-webkit-box-shadow: 5px 5px 4px #888;
	box-shadow: 5px 5px 4px #888;
	height:40px;
	width:300px;
	color: #1E1E1E;
	font-weight:bold;
	font-size:1.1em;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    line-height: 3.0 !important;	
}

.error .changeCred {
	text-decoration: underline;
	color: #0000ff;
	cursor:pointer;cursor:hand;
}

#credentialTable td, #credentialConfigTable td {
    color: #1E1E1E;
    font-family: 'Verdana';
    font-size: 10pt;
    text-align: left;
}

/* restore the position of ui-icon-help */
.ui-icon-help { background-position: -48px -144px; }

