rns-spinner {
  position: absolute;
  top: 4px;
  left: 0;
  height:180px;
  width:180px;
  margin:0 auto;
  position:relative;
  -webkit-animation: rns-rotation .6s infinite linear;
  -moz-animation: rns-rotation .6s infinite linear;
  -o-animation: rns-rotation .6s infinite linear;
  animation: rns-rotation .6s infinite linear;
  border: 6px solid transparent;
  border-radius:100%;
}
.rns-spinner.active {
  border: 6px solid rgba(0,153,255,0.3);
}
.rns-spinner.active:before { 
   content:"";
   display:block;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top:6px solid rgba(0,153,255,.8);
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
}
@-webkit-keyframes rns-rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rns-rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rns-rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rns-rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

input.rns {
  width: 290px;
  height: 33px;
  font-size: .9em;
  line-height: 33px;
  padding: 0 35px 0 50px;
  background-color: #fff;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-image: none;
  background-position: left center, right center;
  background-repeat: no-repeat;
  background-size: 40px 40px, 40px 40px;
  -webkit-transition: all linear 0.1s, box-shadow linear 0.2s;
  -moz-transition: all linear 0.1s, box-shadow linear 0.2s;
  -o-transition: all linear 0.1s, box-shadow linear 0.2s;
  transition: all linear 0.1s, box-shadow linear 0.2s;
}
input.rns[type=email] {
  background-image: url(../images/icon_email.png), none;
}
input.rns[type=password] {
  background-image: url(../images/icon_password.png), none;
}
input.rns:focus:invalid {
  background-color: rgba(255, 204, 204, 1);
}
input.rns[type=email]:valid {
  background-image: url(../images/icon_email.png), url(../images/icon_check.png);
}
input.rns[type=password]:valid {
  background-image: url(../images/icon_password.png), url(../images/icon_check.png);
}
input.rns:required:valid {
  outline: 0;
  outline: thin dotted \9;
}
input.rns:focus:required:invalid {
  border-color: #ff0000;
  -webkit-box-shadow: 0 1px 1px rgba(255, 204, 204, 0.075), 0 0 8px rgba(255, 204, 204, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(255, 204, 204, 0.075), 0 0 8px rgba(255, 204, 204, 0.6);
  box-shadow: 0 1px 1px rgba(255, 204, 204, 0.075), 0 0 8px rgba(255, 204, 204, 0.6);
}
input.rns:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input#rnsFormSubmit {
  display: block;
  float: right;
  outline: 0; 
  background: #3399ff; 
  color: #fff; 
  border: none; 
  font-size: 1em; 
  line-height: 40px; 
  height: 40px;
  margin: 10px 10px 0 0;
  padding: 0 60px;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px;
  cursor: pointer;
  -moz-box-shadow: 0px 0px 0px 0px #33ffcc; 
  -webkit-box-shadow: 0px 0px 0px 0px #33ffcc; 
  box-shadow: 0px 0px 0px 0px #33ffcc;
  text-shadow: 0px 0px 0px #fff;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

input#rnsFormSubmit.disabled {
  background: #666;
}

input#rnsFormSubmit:active  {
  background: #33ffcc;
  color: #000;
  -moz-box-shadow: 0px 0px 10px 0px #33ffcc; 
  -webkit-box-shadow: 0px 0px 10px 0px #33ffcc; 
  box-shadow: 0px 0px 10px 0px #33ffcc;
}

input#rnsLogout {
  display: block;
  float: right;
  outline: 0; 
  background: #3399ff; 
  color: #fff; 
  border: none; 
  font-size: 12px; 
  line-height: 20px; 
  height: 20px;
  margin: 3px 3px 0 0;
  padding: 0 10px;
  text-align: middle;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px;
  cursor: pointer;
  -moz-box-shadow: 0px 0px 0px 0px #33ffcc; 
  -webkit-box-shadow: 0px 0px 0px 0px #33ffcc; 
  box-shadow: 0px 0px 0px 0px #33ffcc;
  text-shadow: 0px 0px 0px #fff;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

input#rnsLogout:active {
  background: #33ffcc;
  color: #000;
  -moz-box-shadow: 0px 0px 5px 0px #33ffcc; 
  -webkit-box-shadow: 0px 0px 5px 0px #33ffcc; 
  box-shadow: 0px 0px 10px 0px #33ffcc;
}

.rns-search-results {
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}
.rns-search-results a.rns-search-result {
  cursor: pointer;
  text-align: left; 
  display: block;
  height: 30px;
  width: 100%;
  line-height: 30px;
  padding: 0;
  color: #666;
  font-weight: 400;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
.rns-search-results a.rns-search-result span {
  padding: 0 10px;
}
.rns-search-results a.rns-search-result:hover {
  text-decoration: none;
  background: #ccc;
}
.rns-search-results a.rns-search-result:active {
  text-decoration: none;
  color: #fff;
  background: #3399ff !important;
}
.rns-search-results a.rns-search-result:nth-child(odd) {
  background: #f1f1f1;
}
.rns-search-results a.rns-search-result:nth-child(odd):hover {
  background: #ccc;
}