body{
	font-family:Arial, Helvetica, sans-serif;
/*	font-size:13px; */
	padding: 0px;
	margin: 0px;
	font-size:62.5%;
	background: #ffffff; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #eeeeee); /* for firefox 3.6+ */ 
	height:100%;	
}


.warning, .error, .success {
	border: 1px solid;
	border-radius: 3px 3px 3px 3px;
	margin-left: 50px;
	margin-right: 50px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size:12px;
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/warning.png');
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/error.png');
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../images/success.png');
}

.sectionHeader {
    /* background-color: #85b5d9; */
    /* background-color: #6396bc; */
    background-color: #46a3ca;
    color: #ffffff;
    /* color: #2e6e9e; */
    /* color: #e27817; */
    font-family: 'Verdana';
    font-size: 11px;
    font-weight: bold;
    padding: 3px 0 3px 4px;
    text-align: left;	
	 border-top-right-radius:5px;
	 border-top-left-radius:5px;
	 -webkit-border-top-right-radius: 5px;
	 -webkit-border-top-left-radius: 5px;
	 -moz-border-radius-topright: 5px;
	 -moz-border-radius-topright: 5px; 
	 height:16px;
}

.sectionBody {
	margin-left:50px;
/*	margin-top: 10px; */
	margin-bottom: 10px;
	margin-right: 50px;
/*	padding: 10px; */
	border: 1px solid #d8d8d8;  
	border-radius:5px;
}

.withShadow {
/*	border-style:outset; */
	border-color:grey;
/*	border-width:0px;  */
	border-left: 1px solid #d8d8d8;
	border-right-width:0px;
	border-top-width:0px;
	border-bottom-width:0px;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
	box-shadow: 3px 3px 5px #888;
	padding-bottom:5px;
}

.sectionHeaderShadow {
	height:20px;
	-moz-box-shadow: 0px 3px 5px #888;
	-webkit-box-shadow: 0px 3px 5px #888;
	box-shadow: 3px 3px 5px #888;
	padding-bottom:5px;
    font-size: 12px;
	text-shadow: 1px 1px 2px #888;
	line-height:20px;
}

.sectionBody table {
	padding: 10px;
	margin-bottom: 5px; 
/*	background-color: #ffffff; */
	width: 100%
}


.sectionBody .colHeader {
	background-color: #aaaaaa;
}

.sectionBody th {
	background-color: #46a3ca;
	color: #ffffff;
	font-family: 'Verdana';
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	/* background-color: #788597; */
}

.sectionBody .evenDataRow {
	background-color: #e9f2fe;
}

.sectionBody .oddDataRow {
	background-color: #ffffff;
}

/*
.sectionBody tr:hover
 {
	background-color: #cccccc;	
	cursor:hand;
}
*/

.sectionBody td {
    color: #1E1E1E;
    font-family: 'Verdana';
    font-size: 10pt;
    text-align: left;
/* border: 1px solid #DDDDDD; */        		
}

textarea {
	width: 90%; 
	height: 120px;
	border: 3px solid #cccccc;
	padding: 10px;
	font-family: 'Verdana';
	margin: 10px;
}

#editResource textArea {
	height:500px;
	width:90%;	
}

.buttons {
	position: relative;
	margin-bottom: 5px;
	margin-right: 10px;
}

.delete {
    background-image: url("../images/error_16.png");
    background-repeat: no-repeat;
    background-position: 3px center;
    cursor:pointer;cursor:hand; 
    width:20px;
}

#credentialConfigTable td {
	color: #1E1E1E;
	font-family: 'Verdana';
	font-size: 10pt;	
}

#editCredentialDlg .sectionBody {
	margin-left:10px;
	margin-right:0px;
}

.sectionBody select, .sectionBody input {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 1em;
}


.settingsText {
	color: #1E1E1E;
	font-family: 'Verdana';
	font-size: 10pt;	
	margin-left: 50px;
}

.copyright {
	color: #AAAAAA;
    font-size: 12px;
    text-align: left;	
    padding-left: 15px;
}


.navBar {
	background-color:#0078ae;
	width:120px;
	height:505px;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
	box-shadow: 3px 3px 5px #888;
	background: #0078ae; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e90bd', endColorstr='#3895b5'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2e90bd), to(#3895b5)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2e90bd,  #3895b5); /* for firefox 3.6+ */ 
}

.stepLink {
	margin-top:20px;
	margin-bottom: 5px;
	color:#f5e1af;
	text-decoration:underline;
	cursor:pointer;cursor:hand;
}

.stepLinkSelected {
	margin-top:20px;
	margin-bottom:5px;
	color:#f5e1af;
	text-decoration:none;
	cursor:default;
}

.stepName {
	background-color:#0078ae;
	background: #0078ae; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e90bd', endColorstr='#3895b5'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2e90bd), to(#3895b5)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2e90bd,  #3895b5); /* for firefox 3.6+ */ 
	color: #ffffff;
	border-top: 1px solid #77d5f7;
	border-bottom: 1px solid #77d5f7;
	padding:5px;
	font-size:1.1em;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

.stepNameSelected {
	background-color:#6eac2c;
	background: #6eac2c; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92c060', endColorstr='#7db441'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#92c060), to(#7db441)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #92c060,  #7db441); /* for firefox 3.6+ */ 
	color: #ffffff;
	border-top: 1px solid #acdd4a;
	border-bottom: 1px solid #acdd4a;
	padding:5px;
	font-size:1.1em;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

.saveNotif {
	text-align:center;
	z-index:100;
}

.saveNotifBox {
	/* float:center; */
	display:inline-block;
	background-color:#f9edbe;
	border: solid 1px #f0c36d;
	-moz-box-shadow: 5px 5px 4px #888;
	-webkit-box-shadow: 5px 5px 4px #888;
	box-shadow: 5px 5px 4px #888;
	height:40px;
	width:300px;
	color: #1E1E1E;
	font-weight:bold;
	font-size:1.1em;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    line-height: 3.0 !important;	
}

.error .changeCred {
	text-decoration: underline;
	color: #0000ff;
	cursor:pointer;cursor:hand;
}

#credentialTable td, #credentialConfigTable td {
    color: #1E1E1E;
    font-family: 'Verdana';
    font-size: 10pt;
    text-align: left;
}

.helpBackground {
	width: 16px;
	height: 16px;
	-webkit-border-radius: 999px; 
	-moz-border-radius: 999px;
	border-radius: 999px;
	background:#f9edbe;
	border: solid 1px #f0c36d;
	float:right;
	margin-right:5px;
}

 .ui-tooltip, .arrow:after {
	background: #f9edbe;
	border: solid 1px #f0c36d;
}

.ui-tooltip {
	padding: 5px 5px;
	color: #1E1E1E;
	background:#f9edbe;
	border: solid 1px #f0c36d;
	border-radius: 5px;
	font-weight:normal;
	font-size:1.1em;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	-moz-box-shadow: 5px 5px 4px #888;
	-webkit-box-shadow: 5px 5px 4px #888;
	box-shadow: 5px 5px 4px #888;
}

/* restore the position of ui-icon-help */
.ui-icon-help { background-position: -48px -144px; }

.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}

.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}

